<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIGP</title>
    <link rel="stylesheet" href="./assets/main.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <main-menu></main-menu>
      <div class="container pt-5">
        <div
          v-for="artista in evento.artistas"
          class="row gx-0 rounded-3 overflow-hidden mb-5"
        >
          <div class="col-12">
            <h3 class="mb-0 bg2 text-white text-center p-2">
              {{ artista.nombre }} - {{ artista.pais }}
            </h3>
          </div>
          <div class="col-12 col-lg-6">
            <img
              :src="`./assets/img/${artista.img}`"
              alt="foto artista"
              class="w-100 h-100 object-fit-cover"
            />
          </div>
          <div class="col-12 col-lg-6 bgLight p-3">
            <h4>Programa</h4>
            <div v-html="evento.programa || artista.programa"></div>
          </div>
          <div v-if="artista.cv" class="col-12 p-3 bgGray">
            <h4 class="mb-3 color2">Reseña</h4>
            <p v-html="artista.cv"></p>
          </div>
        </div>
      </div>
      <copy-right></copy-right>
    </div>
    <script src="./js/pages/eventos.js" type="module"></script>
  </body>
</html>
