<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./assets/img/logo1.jpg" />
    <title>FIGP</title>
    <link rel="stylesheet" href="./assets/main.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <main-menu></main-menu>
      <img src="./assets/img/cartel1.jpeg" alt="cartel" class="w-100 d-block" />
      <div class="accordion accordion-flush" :id="idPanel">
        <!-- Conciertos estelares -->
        <acordeon-panel
          target="estelares"
          :parent-target="idPanel"
          :show="true"
          header="Conciertos estelares"
        >
          <lugar-evento
            :nombre="sedes[0].nombre"
            :link="sedes[0].link"
          ></lugar-evento>
          <evento-card
            v-for="evento in eventos.conciertos.estelares"
            :key="evento.id"
            :evento="evento"
          ></evento-card>
        </acordeon-panel>
        <!-- Actividades matutinas -->
        <acordeon-panel
          target="matutinas"
          :parent-target="idPanel"
          :show="false"
          header="Actividades matutinas"
        >
          <lugar-evento
            :nombre="sedes[1].nombre"
            :link="sedes[1].link"
          ></lugar-evento>
          <evento-card
            v-for="evento in eventos.matutinos"
            :key="evento.id"
            :evento="evento"
          ></evento-card>
        </acordeon-panel>
        <!-- Actividades vespertinas -->
        <acordeon-panel
          target="vespertinas"
          :parent-target="idPanel"
          :show="false"
          header="Actividades vespertinas"
        >
          <lugar-evento
            :nombre="sedes[1].nombre"
            :link="sedes[1].link"
          ></lugar-evento>
          <evento-card
            v-for="evento in eventos.conciertos.vespertinos"
            :key="evento.id"
            :evento="evento"
          ></evento-card>
        </acordeon-panel>
        <!-- Extension -->
        <acordeon-panel
          target="extension"
          :parent-target="idPanel"
          :show="false"
          header="Extensión"
        >
          <lugar-evento
            :nombre="sedes[2].nombre"
            :link="sedes[2].link"
          ></lugar-evento>
          <evento-card :evento="eventos.conciertos.extension"></evento-card>
        </acordeon-panel>
        <!-- Organizadores -->
        <acordeon-panel
          target="organizadores"
          :parent-target="idPanel"
          :show="false"
          header="Organizadores"
        >
          <organizador-card
            v-for="organizador in organizadores"
            :key="organizador.id"
            :organizador="organizador"
          ></organizador-card>
        </acordeon-panel>
      </div>
      <section v-if="true" class="bg3">
        <div class="container pt-4">
          <div class="row">
            <div class="col-12">
              <h3 class="text-white mb-3">Sedes</h3>
            </div>
            <div
              v-for="({id, nombre, link, iFrame}) in sedes"
              :key="id"
              class="col-12 col-md-6 col-lg-4 mb-4"
            >
              <a :href="link" class="fs-5 text-white d-block mb-2">
                {{ nombre }}
                <i class="bi bi-geo-fill"></i>
              </a>
              <iframe
                :src="iFrame"
                class="w-100 rounded-2"
                allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <copy-right></copy-right>
    </div>

    <script src="./js/pages/index.js" type="module"></script>
  </body>
</html>
